<!-- emmit shortcut ! to pre make below template -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Notes API</title>
    <!-- dont have to put in file path of css as in the server.js the app is already listening to anything in /public -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>companyNotes</h1>
  </body>
</html>
